body {
	margin: 20;
        padding: 20;
        height: 100%;
        width: 100%;
	display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
	font-size: 16px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.container {
	display: grid;
	height: 100vh; /* 100% высоты экрана */
        width: 100vw;  /* 100% ширины экрана */
	grid-template-rows: repeat(8, 1fr); /* 8 рядов */
        grid-template-columns: repeat(4, 1fr); /* 4 колонки */
        gap: 1px; /* пробелы между элементами, можно настроить по необходимости */
}
.item {
	border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
}
#find {
	padding: 50px 50px;
	border: none;
	background-image: url('logo.jpg');
  	background-size: cover;
	border-radius: 50px;
	text-transform: uppercase;
}
#find:hover {
	transform: scale(1.1);
}
.usercard {
	color: #000 !important;
  	text-decoration: none;
	text-align: center;
}
